// Color
$common-color: #3E9CDC;
$common-hover: #5eafe6;
$color-gray: #BBBBBB;
$color-black: #000;
$color-white: #fff;
$bg: #272733;

// Шрифты (названия в миксинах)
$font_regular: Lato;
$font_semibold: Lato-sb;
$font_bold: Lato-b;
$font_heavy: Lato-h;

//Разрешения экранов
$desktop-width: 1320px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;